{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minha Aplicação{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Bem-vindo ao meu site!</h1>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/sobre/">Sobre</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        {% block conteiner %}
        
        {% endblock %}

    </main>
    
    <footer>
        <p>&copy; 2024 Minha Aplicação. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
