<!-- confirmar_reserva.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Confirme sua Reserva</h2>

  <form method="POST">
    {% csrf_token %}
    
    <p><strong>Nome do usuário:</strong> {{ user.username }}</p>
    <p><strong>Nome do campo:</strong> {{ campo.nome }}</p>
    <p><strong>Data de Início:</strong> {{ data_inicio }}</p>
    <p><strong>Data de Fim:</strong> {{ data_fim }}</p>
    <p><strong>Duração:</strong> {{ duracao }} horas</p>
    <p><strong>Valor Total:</strong> R$ {{ valor_total }}</p>

    <h4>Escolha a forma de pagamento:</h4>
    <select name="pagamento" class="form-control">
        <option value="cartao">Cartão de Crédito</option>
        <option value="debito">Cartão de Débito</option> <!-- Novo: Cartão de Débito -->
        <option value="boleto">Boleto Bancário</option>
        <option value="pix">PIX</option> <!-- Novo: PIX -->
    </select>

    <!-- Botão para confirmar reserva -->
    <button type="submit" class="btn btn-success">Confirmar Reserva</button>
  </form>

  <br>

  <!-- Botão para voltar -->
  <a href="{% url 'detalhes_campo' campo_id=campo.id %}" class="btn btn-primary">Voltar</a>
{% endblock %}
