{% extends 'base.html' %}

{% block title %}Detalhes da Reserva{% endblock %}

{% block content %}
<h2>Detalhes da Reserva</h2>
<p><strong>Campo:</strong> {{ reserva.campo.nome }}</p>
<p><strong>Data Início:</strong> {{ reserva.data_inicio }}</p>
<p><strong>Data Fim:</strong> {{ reserva.data_fim }}</p>
<p><strong>Valor Total:</strong> R$ {{ reserva.valor_total }}</p>
<p><strong>Status do Pagamento:</strong> {{ reserva.pagamento }}</p>

<!-- Botões para editar e cancelar a reserva -->
<a href="{% url 'editar_reserva' reserva.id %}" class="btn btn-warning">Editar Reserva</a>
<a href="{% url 'cancelar_reserva' reserva.id %}" class="btn btn-danger">Cancelar Reserva</a>

<a href="{% url 'historico_reservas' %}" class="btn btn-secondary mt-3">Voltar para o Histórico de Reservas</a>
{% endblock %}
