{% extends 'base.html' %}
{% block title %}Detalhes da Reserva{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">Detalhes da Reserva</h2>
        <p class="card-text"><strong>Campo:</strong> {{ reserva.campo.nome }}</p>
        <p class="card-text"><strong>Data Início:</strong> {{ reserva.data_inicio }}</p>
        <p class="card-text"><strong>Data Fim:</strong> {{ reserva.data_fim }}</p>
        <p class="card-text"><strong>Valor Total:</strong> R$ {{ reserva.valor_total }}</p>
        <p class="card-text"><strong>Status do Pagamento:</strong> {{ reserva.pagamento }}</p>

        <a href="{% url 'editar_reserva' reserva.id %}" class="btn btn-warning mt-3">Editar Reserva</a>
        <a href="{% url 'cancelar_reserva' reserva.id %}" class="btn btn-danger mt-3">Cancelar Reserva</a>
        <a href="{% url 'historico_reservas' %}" class="btn btn-secondary mt-3">Voltar para o Histórico de Reservas</a>
    </div>
</div>
{% endblock %}