{% extends 'base.html' %}
{% block title %}Editar Reserva{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2>Editar Reserva</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="data_inicio" class="form-label">Data de Início:</label>
                <input type="datetime-local" name="data_inicio" id="data_inicio" class="form-control" value="{{ reserva.data_inicio|date:'Y-m-d\TH:i' }}" required>
            </div>
            <div class="mb-3">
                <label for="data_fim" class="form-label">Data de Fim:</label>
                <input type="datetime-local" name="data_fim" id="data_fim" class="form-control" value="{{ reserva.data_fim|date:'Y-m-d\TH:i' }}" required>
            </div>
            <div class="mb-3">
                <label for="pagamento" class="form-label">Forma de Pagamento:</label>
                <select name="pagamento" id="pagamento" class="form-control" required>
                    <option value="cartao" {% if reserva.pagamento == 'cartao' %}selected{% endif %}>Cartão de Crédito</option>
                    <option value="debito" {% if reserva.pagamento == 'debito' %}selected{% endif %}>Cartão de Débito</option>
                    <option value="boleto" {% if reserva.pagamento == 'boleto' %}selected{% endif %}>Boleto Bancário</option>
                    <option value="pix" {% if reserva.pagamento == 'pix' %}selected{% endif %}>PIX</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Salvar Alterações</button>
        </form>
        <a href="{% url 'detalhes_reserva' reserva.id %}" class="btn btn-secondary mt-3">Voltar para os Detalhes da Reserva</a>
    </div>
</div>
{% endblock %}