{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit" class="btn btn-primary">Login</button>
            <p class="mt-2">Não tem uma conta? <a href="{% url 'cadastro' %}">Cadastre-se aqui</a>.</p>
        </form>
    </div>
</div>
{% endblock %}