{% extends 'base.html' %}

{% block title %}Perfil do Usuário{% endblock %}

{% block content %}
<h2>Perfil de {{ perfil.user.username }}</h2>
<p><strong>Nome de Usuário:</strong> {{ perfil.user.username }}</p>
<p><strong>Email:</strong> {{ perfil.email }}</p>
<p><strong>Telefone:</strong> {{ perfil.telefone }}</p>

{% if perfil.foto %}
    <img src="{{ perfil.foto.url }}" alt="Foto de Perfil" width="100">
{% endif %}

<a href="{% url 'editar_perfil' %}" class="btn btn-info mt-3">Editar Perfil</a>
<a href="{% url 'historico_reservas' %}" class="btn btn-primary mt-3">Ver Histórico de Reservas</a>
<a href="{% url 'index' %}" class="btn btn-secondary mt-3">Voltar para a Tela Inicial</a>
{% endblock %}
