{% extends 'base.html' %}

{% block title %}Reservar/Detalhes do Campo{% endblock %}

{% block content %}
<h2>Detalhes do Campo</h2>
<p><strong>{{ campo.nome }}</strong></p>
<p><strong>Descrição:</strong> {{ campo.descricao }}</p>
<p><strong>Preço por Hora:</strong> R$ {{ campo.preco_por_hora }}</p>
<p><strong>Localização:</strong> {{ campo.localizacao }}</p>
<p><strong>Capacidade:</strong> {{ campo.capacidade }} pessoas</p>
<p><strong>Cidade:</strong> {{ campo.cidade }}</p>
<p><strong>Tipo de Gramado:</strong> {{ campo.get_tipo_gramado_display }}</p>
<p><strong>Iluminação:</strong> {{ campo.iluminacao|yesno:"Sim, Não" }}</p>

{% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        <label for="data_reserva">Escolha a Data e Hora:</label>
        <input type="datetime-local" name="data_reserva" required>
        <input type="hidden" name="usuario_id" value="{{ user.id }}">
        <button type="submit" class="btn btn-primary">Reservar</button>
    </form>
{% else %}
    <p>Faça login para realizar a reserva. <a href="{% url 'login' %}">Clique aqui para fazer login</a></p>
{% endif %}
{% endblock %}
